.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  .center-content{
    text-align: -webkit-center;
    margin-top: 10%;
  }
  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  .example-full-width {
    width: 100% ;
  }
  .email-up{
    padding-top: 11px;
  }
   .heading-margin{
    margin: 0 4px;
  }
  .body{
    background-color: #3f51b5;
  }
  .frgt_password{
    padding-bottom: 15px;
    float: right;
  }


 