<div class="center-content"  *ngIf="href == '/reset-password'">
    <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title>Enter your user account's verified email address and we will send you a password reset link.</mat-card-title>
        </mat-card-header>
        <form [formGroup]="form" id="form" class="example-form">
            <mat-form-field class="example-full-width ">
                <mat-label>Email</mat-label>
                <input type="email" matInput placeholder="Email" class="email-up form-control" formControlName="email" [value]="userName">
                <mat-icon matSuffix>mail</mat-icon>
                <mat-error *ngIf="form.controls.email.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
        </form>
        <mat-error *ngIf="error"><span>{{error}}</span></mat-error> 
        <button mat-raised-button color="primary" class="example-full-width" (click)="forgetPassword()">Send Password Reset Email</button>
    </mat-card>
</div>
<div class="center-content" *ngIf="href != '/reset-password'">
    <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title>Reset Password</mat-card-title>
        </mat-card-header>
        <form [formGroup]="form" id="form" class="example-form">
            <mat-form-field class="example-full-width" >
                <mat-label>Password</mat-label>
                <input type="password" matInput placeholder="Password" class="form-control" formControlName="newPassword">
                <mat-icon matSuffix>lock</mat-icon>
                
            </mat-form-field> 
            <mat-form-field class="example-full-width" *ngIf="href != '/reset-password'">
                <mat-label>Confirm Password</mat-label>
                <input type="password" matInput placeholder="Password" class="form-control" formControlName="confirmPassword">
                <mat-icon matSuffix>lock</mat-icon>
                
            </mat-form-field> 
        </form>
        <mat-error *ngIf="error"><span>{{error}}</span></mat-error> 
        <button mat-raised-button color="primary" class="example-full-width" (click)="confirmPassword()">Confirm Password</button>
        <mat-error *ngIf="form.controls.confirmPassword.invalid"><span>Password should have minimum 8 characters including numbers,capital letter and small letters.</span></mat-error> 

    </mat-card>
</div>